.search {
  display: flex;
  padding-bottom: 30px;
  padding-left: 650px;
}

.search-input {
  display: block;
  width: 300px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px #1560bd solid;
}

.search-input::placeholder {
  color: #1560bd;
}

.search-input:focus {
  border: 2px #1560bd solid;
  outline: 0;
}

.button-search {
  display: block;
  width: 50px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
  border: 1px #1560bd solid;
  border-left: none;
}

.search-icon {
  color: #1560bd;
}

.button-search:hover {
  background-color: #1560bd;
}

.button-search:active {
  background-color: #003153;
}

.button-search:active .search-icon {
  color: #ffffff;
}

.button-search:hover .search-icon {
  color: #ffffff;
}
